*{
    margin: 0px;
    padding: 0px;
}
body{
    padding: 25px;
}

#cajas{
    max-width: 900px;
}

.caja {
    width: 250px;
    height: 250px;
    border: solid 5px black;
    background-color: blue;
    margin: 50px;
    float: left;
    
}

#clearfix{
    float: none;
    clear: both;
}